.config/BraveSoftware/*
.config/JetBrains/*
.config/jgit/*
.config/kglobalshortcutsrc
.config/kwalletrc
.config/pulse/*
.config/spotify/*
.config/Code/*
.config/dconf/*
.config/discord/*
.config/Logic/*
.config/SEGGER/*
.config/act/*
.config/asciinema/*
.config/cef_user_data/*
.config/create-next-app-nodejs/*
.config/cubocore/*
.config/godot/*
.config/inkscape/*
.config/nextjs-nodejs/*
.config/nrfconnect/*
.config/nushell/*
.config/nvim/*
.config/nvim.bak/*
.config/obsidian/*
